body{
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: mediumblue;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(red, green, blue, alpha);
}
h1{
    text-align: center;
    color: black;
    margin-bottom: 20px;

}